.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--secondary-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.links,
.dropdown {
    margin-left: auto;
}

.trigger {
    display: flex;
    gap: 12px;
    align-items: center;
}

.mainLink {
    margin-right: 15px;
}

.headerButton {
    margin-left: 8px;
}
