.Tag {
    border-radius: 12px;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    background-color: var(--primary-bg-color);
    display: flex;
    align-items: center;
}

.Success {
    background-color: var(--additional-success);
    border: 1px inherit solid;
    color: var(--text-white-color);
}

.Accent {
    color: var(--primary-inverted-color);
    border: 1px var(--primary-inverted-color) solid;
}

.Secondary {
    color: var(--text-secondary-color);
    border: 1px var(--text-secondary-color) solid;
}

.Disabled {
    color: var(--text-tertiary-color);
    border: 1px var(--text-tertiary-color) solid;
}

.Error {
    color: var(--red-light);
    border: 1px var(--red-light) solid;
}
