.Ticket {
    border: 1px solid var(--tertiary-border-color);
    background-color: var(--primary-bg-color);
    padding: 16px;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.iconWrapper {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--tertiary-bg-color);
    border-radius: 8px;
}

.Content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.Info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.HeaderInfo {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.HeaderTitle {
    font-weight: 600;
    size: 16px;
    line-height: 22px;
    color: var(--text-primary-color);
}
