.Button {
    cursor: pointer;
    color: var(--primary-bg-color);
    padding: 6px 15px;
    border-radius: 16px;
    min-height: 48px;
    border: none;

    &:hover {
        opacity: 0.8;
        fill-opacity: 0.8;
        stroke-opacity: 0.8;
    }
}

.background {
    color: var(--primary-bg-color);
    background: var(--primary-color);
}

.clear {
    color: var(--primary-color);
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.outline {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: var(--primary-bg-color);
}

.size_s {
    font: var(--font-s);
    height: 36px;
}
.size_m {
    font: var(--font-m);
    height: 42px;
}

.size_l {
    font: var(--font-l);
    height: 48px;
}

.size_xl {
    font: var(--font-xl);
    height: 56px;
}

.disabled {
    opacity: 0.5;
}
