@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";
@import "themes/orange";

.app,
.app_modal {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}

.ml4 {
    margin-left: 4px;
}

.mr4 {
    margin-right: 4px;
}

.mt8 {
    margin-top: 8px;
}

.ml8 {
    margin-left: 8px;
}

.mr8 {
    margin-right: 8px;
}

.w180p {
    width: 180px;
}

.w360p {
    width: 360px;
}

*::-webkit-scrollbar {
    width: 12px;               /* ширина scrollbar */
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--card-bg);        /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
    background-color: var(--inverted-primary-color);    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 2px solid var(--primary-color);  /* padding вокруг плашки */
}
