.InputField {
    position: relative;
    display: flex;
    flex-direction: column;
}

.placeholder {
    margin-right: 5px;
}

.input {
    outline: none;
    width: 100%;
    padding: 8px 16px 8px 8px;
    border-radius: 18px;
    height: 48px;
    background-color: var(--secondary-bg-color);
    border: 1px var(--tertiary-border-color) solid;

    &:focus {
        outline: none;
    }
}

.error {
    border-color: var(--error-border-color);
    background-color: var(--error-bg-color);
}

.errorMessage {
    color: var(--red-light);
}

.inputWrapper {
    flex-grow: 1;
    position: relative;
}
