.TicketDetailsWrapper {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.iconWrapper {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--tertiary-bg-color);
  border-radius: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.title {
  display: flex;
  gap: 8px;
}

.info {
  display: flex;
  gap: 8px;

  &Item {
    display: flex;
    gap: 4px;
    padding: 12px;
    border-radius: 16px;
    background-color: var(--secondary-bg-color);
  }
}

.description {

}

.buttons {
  display: flex;
  justify-content: flex-end;
}